@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative font-inter;
    }

    /* Input:select text-color and placeholder color */
    select:required:invalid {
        @apply text-placeholderText
    }
    option[value=""][disabled] {
        @apply hidden
    }
    option {
        @apply text-dark
    }

    table#tableProductsUp th, table#tableProductsUp td {
        @apply pb-4 !text-left
    }
}

@layer utilities {
    .desktop-only {
        @apply hidden lg:block;
    }

    .desktop-tablet {
        @apply hidden md:block;
    }

    .mobile-tablet {
        @apply block lg:hidden;
    }

    .mobile-only {
        @apply block md:hidden;
    }

    .filter-primary {
        filter: brightness(0) saturate(100%) invert(48%) sepia(10%) saturate(4219%) hue-rotate(201deg) brightness(101%) contrast(101%);
    }

    .filter-white {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(335%) hue-rotate(37deg) brightness(104%) contrast(101%);
    }

    .shadow-primary {
        @apply shadow-[0_0_0_2px_#6B77FF_inset]
    }
}

@layer components {
    .nav-link {
        @apply text-base font-normal capitalize text-white hover:text-primary transition-all
    }

    .nav-link.active {
        @apply !font-semibold !text-primary
    }

    .btn-white {
        @apply px-6 py-4 text-base font-medium text-center text-black bg-white rounded-full shadow-sm transition ease-in-out duration-300 hover:bg-[#ebecfe]
    }

    .btn-primary {
        @apply px-6 py-4 rounded-full bg-primary text-base font-bold text-center text-white transition ease-in-out duration-300 hover:bg-[#606cea]
    }

    .right-triangle {
        @apply absolute z-0 bottom-0 right-0 w-0 h-0 border-solid border-l-[1440px] border-l-transparent border-r-transparent border-r-0 border-b-[200px] border-b-white
    }

    .dashboard-link {
        @apply w-full py-[13px] px-[26px] flex gap-3 items-center text-base text-dark font-semibold rounded-full capitalize bg-transparent hover:bg-dark hover:text-white transition-all max-w-[260px]
    }

    .dashboard-link.is-active {
        @apply !text-white !bg-dark
    }

    .table-responsive {
        @apply relative overflow-x-auto
    }

    .table-responsive table {
        @apply min-w-[700px]
    }

    ul#breadcrumbLink li + li:before {
        @apply content-['/'] mx-[30px]
    }

    .boxPayment input[type="radio"]:checked + label {
        @apply shadow-primary
    }
}